<div class="container small-nav">
  <a class="nav-item" [routerLink]="['/diary']">Moje przedmioty</a>
  <a class="nav-item active-link" [routerLink]="['/diary/mylessons']">Dzisiejsze lekcje</a>
  <a class="nav-item" [routerLink]="['/diary/students']">Baza uczniów</a>
  <a class="nav-item" [routerLink]="['/diary/users']">Baza nauczycieli</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
  <h3 class="text-center">Dzisiejsze lekcje</h3>
  <div class="table-body">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Temat</th>
        <th scope="col">Przedmiot</th>
        <th scope="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
        <th scope="col">Sala</th>
        <th *ngIf="this.authService.isTeacherLoggedIn()" scope="col">Opcje</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let lesson of lessons">
        <td [routerLink]="['/subject', (lesson.subjectId), 'lesson', (lesson.id)]">{{ lesson.topic }}</td>
        <td>{{ getSubjectFromLesson(lesson.subjectId) }}</td>
        <td>{{ formatDateTime(lesson.startDate) }}</td>
        <td>{{ formatDateTime(lesson.finishDate) }}</td>
        <td>{{ getRoomData(lesson.roomId) }}</td>
        <td class="text-center"><i class="fas fa-trash-alt" data-toggle="modal" data-target="#deleteLesson"
                                   (click)="selectLessonIdToDelete(lesson.id)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal deleteLesson -->
<div class="modal fade bd-example-modal-lg" id="deleteLesson" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć tę lekcję?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteLesson(this.lessonIdToDelete)">Usuń przedmiot
        </button>
      </div>
    </div>
  </div>
</div>
