<div class="scheduler-fixer container pb-5 pt-3">

  <h3 class="text-center">Informacje</h3>

  <div class="overlap">
    <span class="font-weight-bold">Nazwa użytkownika:</span>
    <p>{{user.username}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Imię:</span>
    <p>{{user.firstName}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Nazwisko:</span>
    <p>{{user.lastName}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Identyfikator:</span>
    <p>{{user.id}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Email:</span>
    <p>{{user.email}}</p>
  </div>


<!--  <div *ngIf="this.authService.isAdminLoggedIn()" class="pt-3 pb-5">-->
<!--    <a type="button" data-toggle="modal" data-target="#editUser" (click)="startEditing()">Edytuj</a>-->
<!--  </div>-->

  <div class="pt-3 pb-5">
    <a *ngIf="this.authService.isAdminLoggedIn() || this.loggedUsersProfile()" type="button" data-toggle="modal" data-target="#editUser" (click)="startEditing()">Edytuj</a>
    <a *ngIf="this.loggedUsersProfile()" type="button" data-toggle="modal" data-target="#changePassword">Zmień hasło</a>
  </div>

  <div *ngIf="hasAssignedSubjects()" class="line container"></div>

  <h3 *ngIf="hasAssignedSubjects()" class="text-center pt-5">Przypisane przedmioty</h3>

  <div *ngIf="hasAssignedSubjects()" class="table-body pb-5">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Nauczyciel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subject of subjects">
        <td [routerLink]="['/subject', (subject.id)]">{{ subject.name }}</td>
        <td>{{getTeacher(subject.teacherId)}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="line container"></div>

  <h3 class="text-center pt-5">Rozkład zajęć</h3>

  <div class="pb-5 pt-5" *ngIf="dataImportedIntoScheduler()">
    <ejs-schedule *ngIf="dataImportedIntoScheduler()" #schedule locale='pl' [firstDayOfWeek]="weekFirstDay"
                  [eventSettings]="eventObject"
                  [currentView]="setView" [readonly]="true">
      <e-views>
        <e-view option="Day" startHour="08:00" endHour="21:00"></e-view>
        <e-view option="Week" startHour="08:00" endHour="21:00"></e-view>
        <e-view option="Month"></e-view>
      </e-views>
    </ejs-schedule>
  </div>

  <div *ngIf="!dataImportedIntoScheduler()" class="text-center">Brak zajęć w kalendarzu</div>

</div>

<!-- Modal password change -->
<div class="modal fade bd-example-modal-lg" id="changePassword" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiana hasła</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
          <div class="form-group">
            <label for="password">Aktualne hasło:</label>
            <input type="password" [(ngModel)]="form.password" class="form-control" id="password" name="password"
                   placeholder="Podaj aktualne hasło . . ." required #password="ngModel">
          </div>

          <div class="form-group">
            <label for="newPassword">Nowe hasło:</label>
            <input type="password" [(ngModel)]="form.newPassword" class="form-control" id="newPassword" name="newPassword"
                   placeholder="Podaj nowe hasło . . ." required #newPassword="ngModel">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!passwordForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="changePassword()">Zmień
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal user edit -->
<div class="modal fade bd-example-modal-lg" id="editUser" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja użytkownika</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="editUser()" #userForm="ngForm">

          <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" [(ngModel)]="userEdited.firstName" class="form-control" id="firstName" name="firstName"
                   placeholder="Podaj imię . . ." required #firstName="ngModel">
          </div>

          <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" [(ngModel)]="userEdited.lastName" class="form-control" id="lastName" name="lastName"
                   placeholder="Podaj nazwisko . . ." required #lastName="ngModel">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" [(ngModel)]="userEdited.email" class="form-control" id="email" name="email"
                   placeholder="Podaj Email . . ." email required #email="ngModel">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="editUser()">Zapisz zmiany
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
