<div class="container small-nav">
  <a class="nav-item active-link" [routerLink]="['/admin_panel']">Użytkownicy</a>
  <a class="nav-item" [routerLink]="['/admin_panel_add_teacher']">Dodaj nauczyciela</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
    <h3 class="text-center">Lista użytkowników</h3>

  <div class="search-hero">
    <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search" placeholder="Wyszukaj..." type="text">
  </div>

    <div class="table-body pb-3">
      <table class="table-table">
        <thead>
        <tr>
          <th scope="col">Nazwa użytkownika</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">PESEL</th>
          <th scope="col">Adres email</th>
          <th scope="col">Uprawnienia</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | filter:searchText | paginate: config">
          <td [routerLink]="['/user', (user.id)]">{{ user.username }}</td>
          <td [routerLink]="['/user', (user.id)]">{{ user.firstName }}</td>
          <td [routerLink]="['/user', (user.id)]">{{ user.lastName }}</td>
          <td [routerLink]="['/user', (user.id)]">{{ user.pesel }}</td>
          <td [routerLink]="['/user', (user.id)]">{{ user.email }}</td>
          <td [routerLink]="['/user', (user.id)]">
            <ng-container *ngFor="let role of user.roles">
              {{makePrettyRoleName(role.name)}}<br>
            </ng-container>
          </td>
          <td class="text-center">
            <button data-toggle="modal" data-target="#deleteUser" (click)="selectUserIdToDelete(user.id)" class="admin-panel-button">Usuń</button>
            <button (click)="selectUserToChangeRole(user.id)" data-toggle="modal" data-target="#editRole" class="admin-panel-button">Zmień uprawnienia</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  <pagination-template class="text-center" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
    <div class="custom-pagination">

      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <span *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </span>
      </div>

      <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>

      <div class="pagination-next" [class.disabled]="p.isLastPage()">
        <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
      </div>

    </div>
  </pagination-template>

  <div class="pt-2 w-100 m-auto text-center">
    <span>Liczba elementów na stronie:</span>
    <input class="itemsPerPage" type="text" [(ngModel)]="config.itemsPerPage">
  </div>
</div>



<!-- Modal teacher -->
<div class="modal fade bd-example-modal-lg" id="editRole" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiana uprawnień:</h5>
      </div>

      <div class="modal-body">
<!--        <form (ngSubmit)="changeRole()" #teacherForm="ngForm">-->
        <form #teacherForm="ngForm">

          <div class="form-group">
            <label for="selectRole">Rola:</label>
            <select [(ngModel)]="this.selectRole" class="form-control" id="selectRole" name="selectRole" required>
              <option value="ROLE_TEACHER">ROLE_TEACHER</option>
              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!teacherForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="changeRole(this.selectUserId, this.selectRole)">Zmień rolę
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal deleteStudent -->
<div class="modal fade bd-example-modal-lg" id="deleteUser" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć tego użytkownika?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteUser()">Usuń użytkownika
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
