<div class="container pt-5">
  <div>
    <p class="pt-5">Lista obecności:</p>
    <div class="table-body">
      <table class="table-table">
        <thead>
        <tr>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">PESEL</th>
          <th scope="col">E-mail</th>
          <th scope="col">Data urodzenia</th>
          <th scope="col">Obecność</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let studentAttendance of studentsAttendance">
          <td>{{ studentAttendance.firstName }}</td>
          <td>{{ studentAttendance.lastName }}</td>
          <td>{{ studentAttendance.pesel }}</td>
          <td>{{ studentAttendance.email }}</td>
          <td>{{ studentAttendance.birthday }}</td>
          <td><label><input [checked]="studentAttendance.present" (change)="changePresentValue(studentAttendance)" type="checkbox"></label></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="pb-5">
  <a type="button" (click)="save()">Zapisz</a>
</div>

