<div class="container pb-5 pt-3">

  <h3 class="text-center">Informacje</h3>

  <div class="overlap">
    <span class="font-weight-bold">Nazwa użytkownika:</span>
    <p>{{user.username}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Imię:</span>
    <p>{{user.firstName}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Nazwisko:</span>
    <p>{{user.lastName}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">PESEL:</span>
    <p>{{user.pesel}}</p>
  </div>

  <div class="overlap">
    <span class="font-weight-bold">Email:</span>
    <p>{{user.email}}</p>
  </div>

  <div class="pt-3 pb-5">
    <a type="button" data-toggle="modal" data-target="#editUser" (click)="startEditing()">Edytuj</a>
    <a type="button" data-toggle="modal" data-target="#changePassword">Zmień hasło</a>
  </div>


</div>


<!-- Modal password change -->
<div class="modal fade bd-example-modal-lg" id="changePassword" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiana hasła</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
          <div class="form-group">
            <label for="password">Aktualne hasło:</label>
            <input type="password" [(ngModel)]="form.password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Podaj aktualne hasło . . ."
                   required #password="ngModel">
          </div>

          <div class="form-group">
            <label for="newPassword">Nowe hasło:</label>
            <input type="password" [(ngModel)]="form.newPassword"
                   class="form-control"
                   id="newPassword"
                   name="newPassword"
                   placeholder="Podaj nowe hasło . . ."
                   required minlength="6" #newPassword="ngModel">

            <div *ngIf="!passwordForm.form.valid">
              <div class="alert alert-danger container" role="alert" *ngIf="newPassword.errors.minlength">
                Hasło musi mieć przynajmniej 6 znaków
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!passwordForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="changePassword()">Zmień
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal user edit -->
<div class="modal fade bd-example-modal-lg" id="editUser" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja profilu</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="editProfile()" #editForm="ngForm">
          <!--          <div class="form-group">-->
          <!--            <label for="username">Nazwa użytkownika:</label>-->
          <!--            <input type="text" [(ngModel)]="userEdited.username"-->
          <!--                   class="form-control"-->
          <!--                   id="username"-->
          <!--                   name="username"-->
          <!--                   placeholder="Podaj nazwę użytkownika . . ."-->
          <!--                   required #username="ngModel">-->
          <!--          </div>-->

          <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" [(ngModel)]="userEdited.firstName"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   placeholder="Podaj imię . . ."
                   required #firstName="ngModel">
          </div>

          <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" [(ngModel)]="userEdited.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="Podaj nazwisko . . ."
                   required #lastName="ngModel">
          </div>

          <div class="form-group">
            <label for="pesel">PESEL:</label>
            <input type="text" [(ngModel)]="userEdited.pesel"
                   class="form-control"
                   id="pesel"
                   name="pesel"
                   placeholder="Podaj PESEL . . ."
                   minlength="11" maxlength="11"
                   required #pesel="ngModel">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" [(ngModel)]="userEdited.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Podaj Email . . ."
                   email required #email="ngModel">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!editForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="editProfile()">Zapisz zmiany
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
