<div class="container small-nav">
  <a class="nav-item" [routerLink]="['/diary']">Moje przedmioty</a>
  <a class="nav-item" [routerLink]="['/diary/mylessons']">Dzisiejsze lekcje</a>
  <a class="nav-item active-link" [routerLink]="['/diary/students']">Baza uczniów</a>
  <a class="nav-item" [routerLink]="['/diary/users']">Baza nauczycieli</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
  <h3 class="text-center">Baza studentów</h3>
  <div class="table-body">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">PESEL</th>
        <th scope="col">Email</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Opcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td [routerLink]="['/student', (student.id)]">{{ student.firstName }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.lastName }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.pesel}}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.email}}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.birthday}}</td>
        <td class="text-center" *ngIf="this.authService.isAdminLoggedIn()">
          <i class="fas fa-trash-alt asd" data-toggle="modal" data-target="#deleteStudent" (click)="selectStudentId(student.id)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="this.authService.isTeacherLoggedIn()" class="pt-5">
    <a type="button" data-toggle="modal" data-target="#addStudent" (click)="startAddingStudent()">Dodaj</a>
  </div>
</div>


<!-- Modal Adding Student -->
<div class="modal fade bd-example-modal-lg" id="addStudent" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodawanie studenta</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="addStudent()" #studentForm="ngForm">
          <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" [(ngModel)]="studentModel.firstName"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   placeholder="Podaj imię . . ."
                   required #firstName="ngModel">
          </div>

          <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" [(ngModel)]="studentModel.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="Podaj nazwisko . . ."
                   required #lastName="ngModel">
          </div>

          <div class="form-group">
            <label for="pesel">PESEL:</label>
            <input type="text" [(ngModel)]="studentModel.pesel"
                   class="form-control"
                   id="pesel"
                   name="pesel"
                   placeholder="Podaj PESEL . . ."
                   minlength="11" maxlength="11"
                   required #pesel="ngModel">
          </div>

          <div class="alert alert-danger container" role="alert" *ngIf="validationService.studentExistsWithGivenPesel(studentModel.pesel)">
            Podany pesel jest już zajęty
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="studentModel.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Podaj email . . ."
                   required email #email="ngModel">
          </div>

          <div class="alert alert-danger container" role="alert" *ngIf="validationService.studentExistsWithGivenEmail(studentModel.email)">
            Podany email jest już zajęty
          </div>

          <div class="form-group">
            <label for="birthday">Data urodzenia</label>
            <input id="birthday" name="birthday" [(ngModel)]="studentModel.birthday"
                   type="date" class="form-control" />
          </div>

          <div class="alert alert-info container" role="alert" *ngIf="!validationService.validateBirthdayIfCorrect(studentModel.birthday)">
            Podaj prawidłową datę urodzin
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!studentForm.form.valid || validationService.validateBirthdayIfCorrect(this.studentModel.birthday)
             || validationService.studentExistsWithGivenEmail(studentModel.email) || validationService.studentExistsWithGivenPesel(studentModel.pesel)" class="btn btn-info" data-dismiss="modal"
                    (click)="addStudent()">Dodaj studenta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal deleteStudent -->
<div class="modal fade bd-example-modal-lg" id="deleteStudent" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć tego ucznia?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteStudent(studentIdSelected)">Usuń ucznia
        </button>
      </div>
    </div>
  </div>
</div>
