.card-text, .card-title {
  color: #000;
}

.card {
  border: 5px solid;
}

.card:hover {
  border: 5px solid #6c757d;
  background-color: #6c757d;
  cursor: pointer;
}

.custom-pagination {
  margin-top: 20px;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  font-size: 40px;
}

.pagination-previous:hover{
  color: #2ecc71;
}

.pagination-next:hover {
  color: #2ecc71;
}

.pagination-next {
  float: right;
}

.pagination-previous {
  float: left;
}

input[type = "submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  position: center;
}

input[type = "submit"]:hover{
  background: #2ecc71;
}
