/*NAVBAR*/

.navbar {
  background-color: #000!important;
}

.nav-item {
  margin-right: 0!important;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

/*CONTENT*/

.content {
  color: #fff;
}

/*FOOTER*/

.footer {
  background-color: #000;
}

.copyrights{
  padding: inherit;
  margin-left: 2rem;
}

.icons a {
  margin-right: 2rem;
  font-size: 36px;
  color: #6c757d;
}

.icons a:hover{
  color: rgba(255, 255, 255, 0.75);
}

.fb, .tw, .in:hover {
  cursor: pointer;
}
