<div class="row pt-5">
  <div class="col-3">
    <a class="nav-link" href="admin_panel">Użytkownicy</a>
    <a class="nav-link" href="home">Prośby o aktywację</a>
  </div>
  <div class="col-9">
    <h1>Prośby o aktywację</h1>
    <div class="table-body">
      <table class="table-table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nazwa użytkownika</th>
          <th scope="col">Adres email</th>
          <th scope="col">Uprawnienia</th>
          <th scope="col">Aktywność konta</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <ng-container *ngFor="let role of user.roles">
              {{makePrettyRoleName(role.name)}}<br>
            </ng-container>
          </td>
          <td>{{ checkIfEnable(user) }}</td>
          <td>
            <button (click)="activate(user.id)" class="admin-panel-button">Aktywuj</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

