<div class="container small-nav">
  <a class="nav-item" [routerLink]="['/subject', (subjectId)]" href="/subject/{{subjectId}}">Przedmiot</a>
  <a class="nav-item" [routerLink]="['/subject', (subjectId), 'lesson', (lessonId)]">Informacje</a>
  <a class="nav-item active-link" [routerLink]="['/subject', (subjectId), 'lesson', (lessonId), 'attendance']">Lista obecności</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
  <p>Lista obecności:</p>
  <div class="table-body">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">PESEL</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data urodzenia</th>
        <th scope="col">Obecność</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let studentAttendance of studentsAttendance">
        <td [routerLink]="['/student', (studentAttendance.id)]">{{ studentAttendance.firstName }}</td>
        <td [routerLink]="['/student', (studentAttendance.id)]">{{ studentAttendance.lastName }}</td>
        <td [routerLink]="['/student', (studentAttendance.id)]">{{ studentAttendance.pesel }}</td>
        <td [routerLink]="['/student', (studentAttendance.id)]">{{ studentAttendance.email }}</td>
        <td [routerLink]="['/student', (studentAttendance.id)]">{{ studentAttendance.birthday }}</td>
        <td class="text-center">
          <label>
            <input *ngIf="enableToCheckAttendance()" class="checkbox" [checked]="studentAttendance.present" (change)="changePresentValue(studentAttendance)" type="checkbox">
            <input *ngIf="!enableToCheckAttendance()" class="checkbox" [checked]="studentAttendance.present" (change)="changePresentValue(studentAttendance)" disabled readonly type="checkbox">
          </label>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="enableToCheckAttendance()" class="pb-5">
    <a type="button" (click)="save()">Zapisz</a>
  </div>

</div>

<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
