.event-details-photo {
  width: 30%;
  height: 100%;
  float: left;
  background-color: red;
}

.event-details-photo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 10px;
}

.event-details-info {
  width: 65%;
  float: right;
}

.event-details-title {
  font-size: 30px;
  font-weight: bold;
}

.event-details-data {
  float: left;
}

.event-details-description {
  float: left;
  text-align: left;
}

input[type = "submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  float: left;
}

input[type = "submit"]:hover{
  background: #2ecc71;
}
