<div class="event-details-page">
  <div class="event-details-photo">
    <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
  </div>

  <div class="event-details-info">
    <div class="event-details-title">
      <p>
        {{collection2[eventId].title}}
      </p>
    </div>

    <div class="event-details-data">
      <p>
        {{collection2[eventId].data}}
      </p>
    </div>

    <div class="event-details-description">
      <p>
        {{collection2[eventId].description}}
      </p>
    </div>

    <input type="submit" name="" value="ZAPISZ SIĘ">
  </div>


</div>


