<!--  <nav class="col-md-2 d-none d-md-block bg-light sidebar container">-->
<!--    <div class="sidebar-sticky">-->

<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/subject/{{subjectId}}">Przedmioty</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/subject_students/{{subjectId}}">Lista uczniów</a>-->
<!--        </li>-->
<!--      </ul>-->

<!--    </div>-->
<!--  </nav>-->

<div class="container small-nav pb-5">
  <a class="nav-item" href="/subject/{{subjectId}}">Informacje</a>
  <a class="nav-item" href="/subject_students/{{subjectId}}">Lista uczniów</a>
</div>

<div class="container pb-5">

  <div>
    <p>Nazwa: {{subject.name}}</p>

    <p>Opis: {{subject.description}}</p>

    <p class="">Nauczyciel prowadzący: {{teacher.firstName}} {{teacher.lastName}} (PESEL: {{teacher.pesel}})</p>

    <div>
      <p class="pt-5">Lekcje wchodzące w zakres przedmiotu:</p>
      <div class="table-body">
        <table class="table-table">
          <thead>
          <tr>
            <th scope="col">Temat</th>
            <th scope="col">Opis</th>
            <th scope="col">Data rozpoczęcia</th>
            <th scope="col">Data zakończenia</th>
            <th scope="col">Id sali</th>
          </tr>
          </thead>
          <tbody>
          <tr [routerLink]="['/lesson', (lesson.id)]" *ngFor="let lesson of lessons">
            <td>{{ lesson.topic }}</td>
            <td>{{ lesson.description }}</td>
            <td>{{ lesson.startDate }}</td>
            <td>{{ lesson.finishDate }}</td>
            <td>{{ lesson.roomId }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
