<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="number">Numer:</label>
          <input type="text" [(ngModel)]="room.number"
                 class="form-control"
                 id="number"
                 name="number"
                 placeholder="Podaj numer pokoju . . ."
                 required #number="ngModel">
        </div>
        <!--      <div [hidden]="!number.pristine" class="alert alert-danger">Numer jest wymagany</div>-->

        <div class="form-group">
          <label for="destiny">Przeznaczenie:</label>
          <input type="text" [(ngModel)]="room.destiny"
                 class="form-control"
                 id="destiny"
                 name="destiny"
                 placeholder="Podaj przeznaczenie . . ."
                 required #destiny="ngModel">

          <!--        <div [hidden]="!destiny.pristine" class="alert alert-danger">Przeznaczenie jest wymagane</div>-->

        </div>

        <div class="form-group">
          <label for="description">Opis:</label>
          <input type="text" [(ngModel)]="room.description"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Podaj opis  . . ."
                 minlength="10"
                 required #description="ngModel">

          <div *ngIf="description.invalid">
            <!--          <div [hidden]="!description.pristine" class="alert alert-danger">Opis jest wymagany</div>-->
            <div class="alert alert-danger" *ngIf="description.errors.minlength">
              Opis pokoju musi mieć przynajmniej 10 znaków
            </div>
          </div>

        </div>

        <div class="form-group">
          <label>Zdjęcie:</label>
          <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">
          </div>
        </div>

        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-info">Dodaj
        </button>

      </form>
    </div>
  </div>
</div>

<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
