<div class="container">
  <div class="row row-cols-1 row-cols-md-3 pt-5">
    <div [routerLink]="['/event', (item.id)]" class="col mb-4" *ngFor="let item of events">
      <div class="card h-100">
        <img
          src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small>{{item.startDate}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
