<div class="rooms">


  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>

  <div class="room">
    <div class="photo">
      <img src="https://media.istockphoto.com/photos/teacher-giving-an-it-class-at-school-to-a-group-of-students-picture-id669775712" alt="">
    </div>
    <div class="name">
      <span class="name-name">Sala informatyczna</span>
    </div>
  </div>


</div>


