<div class="container small-nav">
  <a class="nav-item" href="/subject/{{subjectId}}">Informacje</a>
  <a class="nav-item active-link" href="/subject/{{subjectId}}/students">Lista uczniów</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
  <p>Uczniowe zapisani na przedmiot "{{subject.name}}":</p>
  <div class="table-body">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">PESEL</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data urodzenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.pesel }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.birthday }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
