<div class="container small-nav">
  <a class="nav-item" [routerLink]="['/subject', (subject.id)]">Informacje</a>
  <a class="nav-item active-link" [routerLink]="['/subject', (subject.id), 'students']" *ngIf="this.authService.isTeacherLoggedIn()">Lista uczniów</a>
</div>

<div class="line container"></div>

<div class="container pb-5 pt-3">
  <p>Uczniowe zapisani na przedmiot "{{subject.name}}":</p>
  <div class="table-body">
    <table class="table-table">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">PESEL</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data urodzenia</th>
        <th *ngIf="this.authService.isTeacherLoggedIn()" scope="col">Opcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td [routerLink]="['/student', (student.id)]">{{ student.firstName }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.lastName }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.pesel }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.email }}</td>
        <td [routerLink]="['/student', (student.id)]">{{ student.birthday }}</td>
        <td class="text-center" *ngIf="this.authService.isTeacherLoggedIn()"><i class="fas fa-trash-alt" data-toggle="modal" data-target="#deleteStudent" (click)="selectStudentIdToDelete(student.id)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="this.authService.isTeacherLoggedIn()" class="pt-5 row">
    <a class="col" type="button" data-toggle="modal" data-target="#addStudent" (click)="startAddingStudent()">Dodaj ucznia do bazy</a>
    <a class="col" type="button" data-toggle="modal" data-target="#addStudentFromDatabase" (click)="startAddingStudent()">Dodaj ucznia z bazy</a>
    <a class="col" type="button" data-toggle="modal" data-target="#sendEmail" (click)="openEmailModal()">Wyślij wiadomość grupową</a>
  </div>
</div>



<!-- Modal deleteStudent -->
<div class="modal fade bd-example-modal-lg" id="deleteStudent" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć tego ucznia?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteStudentFromSubject()">Usuń ucznia
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Adding Student -->
<div class="modal fade bd-example-modal-lg" id="addStudent" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodawanie studenta</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="addStudent()" #studentForm="ngForm">
          <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" [(ngModel)]="studentToAdd.firstName" class="form-control" id="firstName" name="firstName"
                   placeholder="Podaj imię . . ." required #firstName="ngModel">
          </div>

          <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" [(ngModel)]="studentToAdd.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="Podaj nazwisko . . ."
                   required #lastName="ngModel">
          </div>

          <div class="form-group">
            <label for="pesel">PESEL:</label>
            <input type="text" [(ngModel)]="studentToAdd.pesel" class="form-control" id="pesel" name="pesel"
                   placeholder="Podaj PESEL . . ." minlength="11" maxlength="11" required #pesel="ngModel">
          </div>

          <div class="alert alert-danger container" role="alert" *ngIf="validationService.studentExistsWithGivenPesel(studentToAdd.pesel)">
            Podany pesel jest już zajęty
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="studentToAdd.email" class="form-control" id="email" name="email"
                   placeholder="Podaj email . . ." required email #email="ngModel">
          </div>

          <div class="alert alert-danger container" role="alert" *ngIf="validationService.studentExistsWithGivenEmail(studentToAdd.email)">
            Podany email jest już zajęty
          </div>

          <div class="form-group">
            <label for="birthday">Data urodzenia</label>
            <input id="birthday" name="birthday" [(ngModel)]="studentToAdd.birthday"
                   type="date" class="form-control" />
          </div>

          <div class="alert alert-info container" role="alert" *ngIf="!validationService.validateBirthdayIfCorrect(studentToAdd.birthday)">
            Podaj prawidłową datę urodzin
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!studentForm.form.valid || !validationService.validateBirthdayIfCorrect(this.studentToAdd.birthday)
             || validationService.studentExistsWithGivenPesel(studentToAdd.pesel) || validationService.studentExistsWithGivenEmail(studentToAdd.email)" class="btn btn-info" data-dismiss="modal"
                    (click)="addStudent()">Dodaj ucznia
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal add Student from Database -->
<div class="modal fade bd-example-modal-lg" id="addStudentFromDatabase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiana nauczyciela:</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="addStudentToSubject()" #studentFromDatabaseForm="ngForm">

          <div class="form-group">
            <label for="studentIdToAdd">Uczeń:</label>
            <select [(ngModel)]="this.studentToAdd.id" class="form-control" id="studentIdToAdd" name="studentIdToAdd" required>
              <option *ngFor="let student of allStudents" [value]="student.id">{{student.id}}. {{student.firstName}} {{student.lastName}}
                (PESEL: {{student.pesel}})
              </option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!studentFromDatabaseForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="addStudentToSubject()">Dodaj ucznia
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal email -->
<div class="modal fade bd-example-modal-lg" id="sendEmail" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wysyłanie wiadomości mailowej</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="sendMultipleEmails()" #emailForm="ngForm">
          <div class="form-group">
            <label for="to">Odbiorca:</label>
            <input type="text" class="form-control" id="to" name="to"
                   placeholder="Uczniowie zapisani na przedmiot" readonly>
          </div>

          <div class="form-group">
            <label for="subject">Temat:</label>
            <input type="text" [(ngModel)]="emailMessage.subject" class="form-control" id="subject" name="subject"
                   placeholder="Podaj temat . . ." required>
<!--                   placeholder="Podaj temat . . ." required #subject="ngModel">-->


          </div>

          <div class="form-group">
            <label for="text">Treść:</label>
            <textarea [(ngModel)]="emailMessage.text" class="form-control" name="text" id="text"
                      placeholder="Podaj treść  . . ." required #text="ngModel" cols="30" rows="auto"></textarea>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!emailForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="sendMultipleEmails()">Wyślij
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal error -->
<div class="modal fade bd-example-modal-lg" id="error" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        {{errorMessage}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
