<div class="contact-container">
  <div id="contact-data" class="contact-block">
    <div class="phone">
      <h1>Telefon</h1>
      <p>+48 123 456 789</p>
    </div>

    <div class="mail">
      <h1>Email</h1>
      <p>dom.kultury@gmail.com</p>
    </div>

    <div class="address">
      <h1>Adres</h1>
      <p>ul. Wiejska 45A, 15-351 Białystok</p>
    </div>


  </div>

  <div class="line"></div>

  <div id="mapp" class="contact-block">
    <div class="map" id="map" class="match-parent"></div>
  </div>
</div>
