<div class="container">

  <h3 class="text-center">{{ room.destiny }} - {{ room.number }}</h3>

  <div *ngIf="gotImage()" class="image mx-auto d-block pt-3">
    <img [src]="room.retrievedImage" alt="...">
  </div>

  <div class="pt-5 pb-5">
    {{ room.description }}
  </div>

  <div class="pt-3 pb-5">
    <a *ngIf="authService.isTeacherLoggedIn()" type="button" data-toggle="modal" data-target="#editRoom" (click)="startEditing()">Edytuj</a>
    <a *ngIf="authService.isTeacherLoggedIn()" type="button" data-toggle="modal" data-target="#deleteRoom">Usuń</a>
    <a *ngIf="authService.isTeacherLoggedIn() && gotImage()" type="button" data-toggle="modal" data-target="#deleteImage">Usuń zdjęcie</a>
  </div>

  <div class="line container"></div>

  <h3 class="text-center pt-5 pb-3">Terminy zajęć w sali</h3>

  <div class="pb-5">
    <ejs-schedule *ngIf="dataImportedIntoScheduler()" #schedule locale='pl' [firstDayOfWeek]="weekFirstDay"
                  [eventSettings]="eventObject"
                  [currentView]="setView" [readonly]="true">
      <e-views>
        <e-view option="Day" startHour="08:00" endHour="21:00"></e-view>
        <e-view option="Week" startHour="08:00" endHour="21:00"></e-view>
        <e-view option="Month"></e-view>
      </e-views>
    </ejs-schedule>

    <div *ngIf="!dataImportedIntoScheduler()" class="text-center">Brak zaplanowanych zajęć w tej sali</div>
  </div>
</div>


<!-- Modal deleteSubject -->
<div class="modal fade bd-example-modal-lg" id="deleteRoom" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć ten pokój? Upewnij się że żadne lekcje nie są przypisane do wybranego pokoju!
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteRoom()">Usuń pokój
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal deleteImage -->
<div class="modal fade bd-example-modal-lg" id="deleteImage" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć zdjęcie przypisane do tego pokoju?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                (click)="deleteImage()">Usuń zdjęcie
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Subject -->
<div class="modal fade bd-example-modal-lg" id="editRoom" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja pokoju</h5>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="editRoom()" #roomForm="ngForm">
          <div class="form-group">
            <label for="number">Numer:</label>
            <input type="text" [(ngModel)]="roomEdited.number"
                   class="form-control"
                   id="number"
                   name="number"
                   placeholder="Podaj numer sali . . ."
                   required #number="ngModel">
          </div>

          <div class="form-group">
            <label for="destiny">Przeznaczenie:</label>
            <input type="text" [(ngModel)]="roomEdited.destiny"
                   class="form-control"
                   id="destiny"
                   name="destiny"
                   placeholder="Podaj przeznaczenie sali . . ."
                   required #destiny="ngModel">
          </div>

          <div class="form-group">
            <label for="description">Opis:</label>
            <input type="text" [(ngModel)]="roomEdited.description"
                   class="form-control"
                   id="description"
                   name="description"
                   placeholder="Podaj opis sali . . ."
                   required #description="ngModel">
          </div>

          <div class="form-group">
            <label>Zdjęcie:</label>
            <div class="col-md-6">
              <input type="file" (change)="onFileChanged($event)">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!roomForm.form.valid" class="btn btn-info" data-dismiss="modal"
                    (click)="editRoom()">Zapisz zmiany
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
