.room-details-photo {
  width: 30%;
  height: 100%;
  float: left;
}

.room-details-photo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 10px;
}

.room-details-info {
  width: 65%;
  float: right;
}

.room-details-title {
  font-size: 30px;
  font-weight: bold;
}

.room-details-data {
}

.room-details-description {
  text-align: left;
}
